<app-back-office></app-back-office>
<div id="container">
  <div [hidden]="submitted">
    <form
      [formGroup]="serverCreationForm"
      (ngSubmit)="closeThis()"
    >
      <h1>Création d'un serveur</h1>

      <div class="form-group">
        <label for="Intitule">Intitulé</label>
        <input
          type="text"
          class="form-control"
          id="intitule"
          placeholder="Entrer l'intitulé du seveur..."
          formControlName="intitule"
          required
        />
        <div *ngIf="serverCreationForm.get('intitule').invalid && (serverCreationForm.get('intitule').dirty || serverCreationForm.get('intitule').touched)" class="alert alert-danger form-danger" role="alert">
          entrer un intitulé du projet s'il vous plait
        </div>
      </div>
      <div class="form-group">
        <label for="port">Port</label>
        <input
          type="number"
          class="form-control"
          id="port"
          maxlength="5"
          placeholder="Entrer un port..."
          formControlName="port"
        />
        <div *ngIf="serverCreationForm.get('port').invalid && (serverCreationForm.get('port').dirty || serverCreationForm.get('port').touched)" class="alert alert-danger form-danger" role="alert">
          le port est obligatoire et doit etre compris entre 1024 et 49151
        </div>
      </div>

      <div class="form-group">
        <label for="url">adresse IPv4</label>
        <input
          type="url"
          class="form-control"
          id="url"
          placeholder="Entrer l'URL du serveur.."
          required
          formControlName="url"
          name="url"
        />
        <div *ngIf="serverCreationForm.get('url').invalid && (serverCreationForm.get('url').dirty || serverCreationForm.get('url').touched)" class="alert alert-danger form-danger" role="alert">
          entrer une adresse IPv4 valide s'il vous plait Ex : 192.168.1.1, Ex: 255.255.255.255
        </div>
      </div>
      <div class="form-group">
        <label for="type">Type</label>
        <select
          id="type"
          required
          formControlName="type"
          name="Type"
          class="form-control"
          style="height: 35px"
        >
          <option value="source">source</option>
          <option value="destinataire">destinataire</option>
        </select>
        <div *ngIf="serverCreationForm.get('type').invalid && (serverCreationForm.get('type').dirty || serverCreationForm.get('type').touched)" class="alert alert-danger form-danger" role="alert">
          entrer un type s'il vous plait
        </div>
      </div>

      <div class="form-group">
        <label for="statut">Statut</label>
        <select
          id="statut"
          required
          formControlName="statut"
          name="Statut"
          class="form-control"
          style="height: 35px"
        >
          <option value="ouvert" selected>ouvert</option>
          <option value="fermé">fermé</option>
        </select>
        <div *ngIf="serverCreationForm.get('statut').invalid && (serverCreationForm.get('statut').dirty || serverCreationForm.get('statut').touched)" class="alert alert-danger form-danger" role="alert">
          entrer un statut s'il vous plait
        </div>
      </div>

      <div class="btn-group">
        <button type="submit" class="btn btn-success" [disabled]="!serverCreationForm.valid">
          <span class="glyphicon glyphicon-plus"></span>ajouter
        </button>
      </div>
    </form>
  </div>

  <br /><br />
  <app-footer></app-footer>
</div>
