<app-back-office></app-back-office>
<div id="container">
  <div [hidden]="submitted">
    <form  #myForm="ngForm" [formGroup]="serverCreationForm" (ngSubmit)="closeThis()" >
     
      <h1>Création d'un serveur</h1>

      <div class="form-group">
        <label for="Intitule">Intitulé<abbr title="Ce champ est obligatoire">*</abbr></label>
        <input
          type="text"
          class="form-control"
          id="intitule"
          formControlName="intitule"
          placeholder="Entrer l'intitulé du serveur..."
         
        />
        <div *ngIf="serverCreationForm.get('intitule').invalid && (serverCreationForm.get('intitule').dirty || serverCreationForm.get('intitule').touched)" class="alert alert-danger form-danger" role="alert">
          entrer un intitule s'il vous plait
        </div>
      </div>
      <div class="form-group">
        <label for="port">Port <abbr title="Ce champ est obligatoire">*</abbr></label>

        <input
          type="text"
          class="form-control"
          id="port"
          formControlName="port"
          placeholder="Entrer un port..."
          
        />
        <div *ngIf="serverCreationForm.get('port').invalid && (serverCreationForm.get('port').dirty || serverCreationForm.get('port').touched)" class="alert alert-danger form-danger" role="alert">
          entrer un port s'il vous plait
        </div>
      </div>

      <div class="form-group">
        <label for="url">URL<abbr title="Ce champ est obligatoire">*</abbr></label>
        <input
          type="url"
          class="form-control"
          id="url"
          placeholder="Entrer l'URL du serveur.."
          formControlName="url"
          
        />
        <div *ngIf="serverCreationForm.get('url').invalid && (serverCreationForm.get('url').dirty || serverCreationForm.get('url').touched)" class="alert alert-danger form-danger" role="alert">
          entrer une adresse IPv4 valide s'il vous plait Ex : 192.168.1.1, Ex: 255.255.255.255

        </div>
      </div>
      <div class="form-group">
        <label for="type">Type <abbr title="Ce champ est obligatoire">*</abbr></label>
        <select
          id="type"
          formControlName="type"
          class="form-control"
          style="height: 35px;"
        >
          <option value="source">source</option>
          <option value="destinataire">destinataire</option>
        </select>
        <div *ngIf="serverCreationForm.get('type').invalid && (serverCreationForm.get('type').dirty || serverCreationForm.get('type').touched)" class="alert alert-danger form-danger" role="alert">
          entrer un type s'il vous plait
        </div>
      </div>
    <!---<div class="form-group">
        <label for="projet">projet <abbr title="Ce champ est obligatoire">*</abbr></label>
        <select
          id="projet"
          formControlName="id_projet"
          style="height: 35px;"
          multiple
        >
          <option
            *ngFor="let project of projectsList$ | async"
            value="{{project.id_projet}}"
            >#{{ project.id_projet }}/{{ project.intitule_projet }}</option
          >
        </select>
        <div *ngIf="serverCreationForm.get('id_projet').invalid && (serverCreationForm.get('id_projet').dirty || serverCreationForm.get('id_projet').touched)" class="alert alert-danger form-danger" role="alert">
          entrer un projet s'il vous plait
        </div>
      </div>
    -->
      <div class="form-group">
        <label for="statut">Statut <abbr title="Ce champ est obligatoire">*</abbr></label>
        <select
          id="statut"
          formControlName="statut"
          
          class="form-control"
          style="height: 35px;"
        >
          <option value="ouvert" selected>ouvert</option>
          <option value="fermé">fermé</option>
        </select>
        <div *ngIf="serverCreationForm.get('statut').invalid && (serverCreationForm.get('statut').dirty || serverCreationForm.get('statut').touched)" class="alert alert-danger form-danger" role="alert">
          entrer un statut s'il vous plait
        </div>
      </div>

      <div class="btn-group">
        <button type="submit" class="btn btn-success">
          <span class="glyphicon glyphicon-plus"></span>ajouter
        </button>
      </div>
    </form>
  </div>

  <br /><br />
  <app-footer></app-footer>
</div>
