<app-back-office></app-back-office>
<div id="container">
  <div [hidden]="submitted">
    <form #myForm="ngForm" [formGroup]="fluxCreationForm">
      <h1>Création d'une demande d'ouverture de flux</h1>
      <div class="form-group">
        <label for="cadre">Cadre de la demande</label>
        <input
          type="text"
          class="form-control"
          id="cadre"
          placeholder="Entrer le cadre de la demande... "
          formControlName="cadre"
        />
        <div *ngIf="fluxCreationForm.get('cadre').invalid && (fluxCreationForm.get('cadre').dirty || fluxCreationForm.get('cadre').touched)" class="alert alert-danger form-danger" role="alert">
          entrer un cadre s'il vous plait
        </div>
      </div>

      <div class="form-group">
        <label for="projet">Projet</label>
        <select
          id="projet"
          formControlName="id_projet"
          class="form-control"
          style="height: 35px"
        >
          <option value="{{project.id_projet}}" *ngFor="let project of (projects$ | async)">#{{ project.id_projet }}</option>
        </select>
        <div *ngIf="fluxCreationForm.get('id_projet').invalid && (fluxCreationForm.get('id_projet').dirty || fluxCreationForm.get('id_projet').touched)" class="alert alert-danger form-danger" role="alert">
          selectionner un projet s'il vous plait
        </div>
      </div>

      <div class="form-group">
        <label for="server">Server</label>
        <select
          id="sever"
          required
          formControlName="id_serveur"
          class="form-control"
          style="height: 35px"
          (change)="onChange($event.target.value)"
        >
          <option value="{{server.id_serveur}}" *ngFor="let server of (server$ | async)">#{{ server.id_serveur }}/{{ server.intitule }}</option>
        </select>
        <div *ngIf="fluxCreationForm.get('id_serveur').invalid && (fluxCreationForm.get('id_serveur').dirty || fluxCreationForm.get('id_serveur').touched)" class="alert alert-danger form-danger" role="alert">
          selectionner un serveur s'il vous plait
        </div>
      </div>
      <div hidden>
        {{relatedServer$ | async}}
      </div>
      <div class="form-group">
        <label for="adressSource">Adresse Source</label>
        <input
          type="text"
          class="form-control"
          placeholder="Entrer l'adresse Source..."
          formControlName="adresse_source"
          value="{{relatedServer?.url}}"
        />
        <div *ngIf="fluxCreationForm.get('adresse_source').invalid && (fluxCreationForm.get('adresse_source').dirty || fluxCreationForm.get('adresse_source').touched)" class="alert alert-danger form-danger" role="alert">
          entrer une adresse IPv4 valide s'il vous plait Ex : 192.168.1.1
        </div>
      </div>
      <div class="form-group">
        <label for="adressDestinataire">Adresse Destinataire</label>
        <input
          type="text"
          class="form-control"
          id="adresseD"
          placeholder="Entrer l'adresse Destinataire..."
          formControlName="adresse_destinataire"
        />
        <div *ngIf="fluxCreationForm.get('adresse_destinataire').invalid && (fluxCreationForm.get('adresse_destinataire').dirty || fluxCreationForm.get('adresse_destinataire').touched)" class="alert alert-danger form-danger" role="alert">
          entrer une adresse IPv4 valide s'il vous plait Ex : 192.168.1.1
        </div>
      </div>
      <div class="form-group">
        <label for="port">Port</label>
        <input
          type="number"
          class="form-control"
          id="port"
          placeholder="Entrer un port..."
          value="{{relatedServer?.port}}"
          formControlName="port"
        />
        <div *ngIf="fluxCreationForm.get('port').invalid && (fluxCreationForm.get('port').dirty || fluxCreationForm.get('port').touched)" class="alert alert-danger form-danger" role="alert">
          le port est obligatoire et doit etre compris entre 1024 et 49151
        </div>
      </div>

      <div class="form-group">
        <label for="duree">Durée</label>
        <input
          type="number"
          class="form-control"
          id="duree"
          placeholder="Entrer une durée..."
          formControlName="duree"
        />
        <div *ngIf="fluxCreationForm.get('duree').invalid && (fluxCreationForm.get('duree').dirty || fluxCreationForm.get('duree').touched)" class="alert alert-danger form-danger" role="alert">
          entrer une durée valide s'il vous plait
        </div>
      </div>
      <div class="form-group">
        <label for="date">Date d'ouverture</label>
        <input
          type="date"
          class="form-control"
          id="date"
          placeholder="jj/mm/aaaa"
          formControlName="dateOuverture"
        />
        <div *ngIf="fluxCreationForm.get('dateOuverture').invalid && (fluxCreationForm.get('dateOuverture').dirty || fluxCreationForm.get('dateOuverture').touched)" class="alert alert-danger form-danger" role="alert">
          selectionner une date valide s'il vous plait
        </div>
      </div>
      <div class="form-group">
        <label for="periodicite">Périodicité</label>
        <input
          type="text"
          class="form-control"
          id="periodicite"
          placeholder="Entrer une périodicité..."
          formControlName="periodicite"
        />
        <div *ngIf="fluxCreationForm.get('periodicite').invalid && (fluxCreationForm.get('periodicite').dirty || fluxCreationForm.get('periodicite').touched)" class="alert alert-danger form-danger" role="alert">
          entrer une périodicité valide s'il vous plait
        </div>
      </div>
      <div class="form-group">
        <label for="nature">Nature d'échange</label>
        <input
          type="text"
          class="form-control"
          id="nature"
          placeholder="Entrer une nature d'échange..."
          formControlName="natureEchange"
        />
        <div *ngIf="fluxCreationForm.get('natureEchange').invalid && (fluxCreationForm.get('natureEchange').dirty || fluxCreationForm.get('natureEchange').touched)" class="alert alert-danger form-danger" role="alert">
          entrer une nature d'échange valide s'il vous plait
        </div>
      </div>
      <div class="form-group">
        <label for="type">Type</label>
        <select
          id="type"
          class="form-control"
          style="height: 35px"
          formControlName="type_flux"
        >
          <option value="type1">interne</option>
          <option value="type2">externe</option>
        </select>
        <div *ngIf="fluxCreationForm.get('type_flux').invalid && (fluxCreationForm.get('type_flux').dirty || fluxCreationForm.get('type_flux').touched)" class="alert alert-danger form-danger" role="alert">
          selectionner le type du flux s'il vous plait
        </div>
      </div>
      <div class="form-group">
        <label for="description">Description</label>
        <input
          type="text"
          class="form-control"
          id="description"
          placeholder="description"
          formControlName="description"
        />
        <div *ngIf="fluxCreationForm.get('description').invalid && (fluxCreationForm.get('description').dirty || fluxCreationForm.get('description').touched)" class="alert alert-danger form-danger" role="alert">
          écrire un déscription pour votre flux s'il vous plait
        </div>
      </div>

      <div class="form-group">
        <label for="statut">Statut</label>
        <select
          id="statut"
          formControlName="statut"
          class="form-control"
          style="height: 35px"
        >
          <option value="stat1" selected>entrant</option>
          <option value="stat2">sortant</option>
        </select>
        <div *ngIf="fluxCreationForm.get('statut').invalid && (fluxCreationForm.get('statut').dirty || fluxCreationForm.get('statut').touched)" class="alert alert-danger form-danger" role="alert">
          sélectionner un statut pour votre flux s'il vous plait
        </div>
      </div>
    </form>
  </div>
  <button class="btn btn-success" data-toggle="modal" data-target="#Modalvalid" [disabled]="!fluxCreationForm.valid">
    Valider
  </button>
  <!-- The Modal -->
  <div class="modal" id="Modalvalid">
    <div class="modal-dialog">
      <div class="modal-content">
        <!-- Modal Header -->
        <div class="modal-header">
          <h4 class="modal-title">Voulez vous valider cette demande ?</h4>
        </div>

        <!-- Modal footer -->
        <div class="modal-footer">
          <br /><br /><br />
          <button
            type="button"
            style="background-color: grey; padding: 10px; margin: 10px"
            class="btn btn-danger"
            data-dismiss="modal"
          >
            <span class="glyphicon glyphicon-remove"></span>&nbsp;Annuler
          </button>
          <button
            type="button"
            style="background-color: green; padding: 10px; margin: 10px"
            class="btn btn-success"
            data-dismiss="modal"
            (click)="closeThis()"
          >
            <span class="glyphicon glyphicon-ok"></span>&nbsp;Valider
          </button>
        </div>
      </div>
    </div>
  </div>
  <app-footer></app-footer>
</div>
