<app-back-office></app-back-office>
<div id="container">
  <div [hidden]="submitted">
    <form
      [formGroup]="projectCreationForm"
      (ngSubmit)="closeThis()"
    >
      <h1>Création d'un projet</h1>

      <div class="form-group">
        <label for="Intitule">Intitulé</label>
        <input
          type="text"
          class="form-control"
          id="intitule"
          placeholder="Entrer l'intitulé du seveur..."
          formControlName="intitule_projet"
          required
        />
        <div *ngIf="projectCreationForm.get('intitule_projet').invalid && (projectCreationForm.get('intitule_projet').dirty || projectCreationForm.get('intitule_projet').touched)" class="alert alert-danger form-danger" role="alert">
          entrer l'intitulé du projet s'il vous plait
        </div>
      </div>
      <div class="form-group">
        <label>Date de Creation</label>
        <input
          type="date"
          class="form-control"
          formControlName="dateCreation"
        />
        <div *ngIf="projectCreationForm.get('dateCreation').invalid && (projectCreationForm.get('dateCreation').dirty || projectCreationForm.get('dateCreation').touched)" class="alert alert-danger form-danger" role="alert">
          selectionner une date de création s'il vous plait
        </div>
      </div>

      <div class="form-group">
        <label>type de projet</label>
        <input
          type="url"
          class="form-control"
          required
          formControlName="type_projet"
        />
        <div *ngIf="projectCreationForm.get('type_projet').invalid && (projectCreationForm.get('type_projet').dirty || projectCreationForm.get('type_projet').touched)" class="alert alert-danger form-danger" role="alert">
          entrer un type de projet s'il vous plait
        </div>
      </div>
      <div class="form-group">
        <label>Serveur</label>
        <select
          formControlName="id_server"
          class="form-control"
          style="height: 35px"
        >
          <option value="{{server.id_serveur}}" *ngFor="let server of (server$ | async)">#{{ server.id_serveur }}/{{server.intitule}}</option>
        </select>
        <div *ngIf="projectCreationForm.get('id_server').invalid && (projectCreationForm.get('id_server').dirty || projectCreationForm.get('id_server').touched)" class="alert alert-danger form-danger" role="alert">
          selectionner un serveur s'il vous plait
        </div>
      </div>

      <div class="btn-group">
        <button type="submit" class="btn btn-success" [disabled]="!projectCreationForm.valid">
          <span class="glyphicon glyphicon-plus"></span>ajouter
        </button>
      </div>
    </form>
  </div>
  <app-footer></app-footer>
</div>
