<app-back-office></app-back-office>
<div id="container">
  <div [hidden]="submitted">
    <form #myForm="ngForm" (ngSubmit)="closeThis()" *ngIf="project">
      <h1>Création d'un projet</h1>

      <div class="form-group">
        <label for="Intitule">Intitulé<abbr title="Ce champ est obligatoire">*</abbr></label>
        <input
          type="text"
          class="form-control"
          id="intitule"
          pattern="[A-za-z]{2,20}"
          placeholder="Entrer l'intitulé du projet..."
          required
          [(ngModel)]="project.intitule_projet"
          name="intitule"
        />
      </div>
     
      <div class="form-group">
        <label for="type">Type <abbr title="Ce champ est obligatoire">*</abbr></label>
        <select
          id="type"
          required
          [(ngModel)]="project.type_projet"
          name="Type"
          class="form-control"
          style="height: 35px;"
        >
          <option value="dev">dev</option>
          <option value="BI">BI</option>
          <option value="réseau">réseau</option>
        </select>
      </div>
      <div class="form-group">
        <label for="date">Date de création<abbr title="Ce champ est obligatoire">*</abbr></label>
        
        <input
           matInput
           [max]="maxDate"
           [min]="minDate"
           #date
           required
           [matDatepicker]="picker"
           placeholder="JJ/MM/YYYY"
           class="form-control"
           name="date"
           [(ngModel)]="project.dateCreation ">

         <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
         <mat-datepicker #picker></mat-datepicker>
      </div>
        
      <div class="btn-group">
        <button type="submit" class="btn btn-success">
          <span class="glyphicon glyphicon-plus"></span>ajouter
        </button>
      </div>
    </form>
  </div>

  <br /><br />
  <app-footer></app-footer>
</div>

